.bar-quick-menu-button {
    @include bar-widget;

    background-color: $bar-quick-menu-button-background-color;
    border-radius: $bar-quick-menu-button-border-radius;

    padding: 2px $bar-quick-menu-button-side-padding;

}