.app-launcher {
    background-color: $app-launcher-background-color;
    border-radius: $app-launcher-border-radius;
    padding: $app-launcher-padding;

    color: white;
}

.app-launcher-input {
    all: unset;

    min-width: 0;

    color: white;
    border-radius: 8px;
}

.app-launcher-item {
    all: unset;
}

.app-launcher-seperator {
    background-color: $app-launcher-seperator-background-color;
}