.app-launcher {
    background-color: $app-launcher-background-color;
    
    padding: $app-launcher-padding;
    border-radius: $app-launcher-border-radius;
}

.app-launcher-item {
    @include app-launcher-widget;
}

.app-launcher-search-input {
    outline: none;
    border: none;
}