.app-launcher {
    background-color: $app-launcher-background-color;
    
    padding: $app-launcher-padding;
    border-radius: $app-launcher-border-radius;
}

.app-launcher-item {
    @include app-launcher-widget;
}


$app-launcher-search-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0) inset;
.app-launcher-search-input {
    all: unset;

    min-height: 28px;
    padding-left: 8px;
    padding-right: 8px;

    background-color: $app-launcher-search-background-color;

    border-radius: $app-launcher-search-border-radius;
    box-shadow: $app-launcher-search-box-shadow;
}

.app-launcher-search-input:focus {
    box-shadow: $app-launcher-search-box-shadow;
}